.root {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 400px;
    margin: 10px 0;
    padding: 5px;
    box-shadow: var(--shadow);
    border-radius: 5px;
}

.content {
    display: flex;
    align-items: center;
}

.avatar img {
    width: 50px;
    margin-right: 20px;
}